<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="header">
    <div>
        <nav>
            <a th:href="@{/}" th:text="home"></a>
            <a th:href="@{/user/all}" th:text="users"></a>
            <a th:href="@{/team/all}" th:text="teams"></a>
            <a th:href="@{/project/all}" th:text="projects"></a>
            <a th:href="@{/issue/all}" th:text="issues"></a>
            <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/logout}" th:text="logout"></a>
            <a th:unless="${#authorization.expression('isAuthenticated()')}" th:href="@{/login}" th:text="login"></a>
            <span th:if="${#authorization.expression('isAuthenticated()')}" th:text="${#authentication.name}">username</span>
        </nav>
    </div>
</header>
</body>
</html>