<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${project.projectName}"></title>
</head>
<body>
<header th:insert="fragments/header.html"></header>
<div>
    <a th:href="@{/project/new}" th:text="'add new'"></a>
</div>
<div>
    <a th:href="@{/project/__${project.id}__/issue/new}" th:text="'add new issue'"></a>
</div>
<div>
    <a th:href="@{/project/{id}/edit(id=${project.id})}" th:text="edit"></a>
</div>
<div>
    <a th:href="@{/project/{id}/delete(id=${project.id})}" th:text="delete"></a>
</div>
<div>
    <h2 th:text="${project.projectName}"></h2>
</div>
<div>
    <h3 th:text="'team responsible __${project.assignedTeam?.teamName}__'"></h3>
</div>
<div>
    <h3 th:text="'number of issues: __${project.issues.size}__'"></h3>
    <h3>list of issues:</h3>
    <table>
        <tr th:each="issue : ${project.issues}">
            <td th:text="${issue?.description}">el</td>
            <td><a th:href="@{/issue/{id}(id=${issue.id})}" th:text="'go to issue'"></a></td>
        </tr>
    </table>
</div>
</body>
</html>