<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of issues</title>
</head>
<body>
<div>
    <a th:href="@{/issue/new}" th:text="add"></a>
</div>
<div>
    <table>
        <tr>
            <th>description</th>
            <th>issueCreator</th>
            <th>comments</th>
            <th>link</th>
        </tr>
        <tr th:each="issue : ${issueList}">
            <td th:text="${issue.description}">desc</td>
            <td th:text="${issue.issueCreator.userName}">creator</td>
            <td th:text="${issue.comments.size}">size</td>
            <td><a th:href="@{/issue/{id}(id=${issue.id})}" th:text="'go to issue'"></a></td>
            <td><a th:href="@{/issue/{id}/edit(id=${issue.id})}" th:text="edit"></a></td>
            <td><a th:href="@{/issue/{id}/delete(id=${issue.id})}" th:text="delete"></a></td>
        </tr>
    </table>
</div>
</body>
</html>